<div class="footer-inner">
    <div class="footer-content">
        <span class="bigger-120">
            <span class="blue bolder">Top</span>liner.by &copy; 2016—{{ 'now'|date('Y') }}
        </span>

        &nbsp; &nbsp;
        <span class="action-buttons">
            <a href="http://vk.com/toplinerby">
                <i class="ace-icon fa fa-vk light-blue bigger-150"></i>
            </a>

            <a href="https://www.facebook.com/topliner.by">
                <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
            </a>
        </span>
    </div>
</div>