<ul class="nav nav-list">
    <li class="">
        <a href="{{ path('homepage') }}">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Главная </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="{{ path('userLogin') }}">
            <i class="menu-icon fa fa-pencil-square-o"></i>
            <span class="menu-text"> Авторизация </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Посты </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="#">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Авто
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="#">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Люди
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>
</ul><!-- /.nav-list -->
